html {
  box-sizing: border-box;
  background-color: white;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
}

h1, li {
  color: white;
  font-weight: bold;
  background-color: #d05c2e;
}

li {
  font-size: 1.125rem;
}
